header {
  box-shadow: 0px 12px 32px rgba(211, 211, 211, 0.24);
  max-height: 146px;
}

header .top {
  height: 50px;
  border-bottom: 1px solid #E5E5E5;
}

header .top .col-lg-5 a, header .top .col-lg-5 span {
  color: #8A8D8F;
  font-size: 14px;
}

header .top span {
  margin-left: 16px;
}

header .top a {
  margin-left: 24px;
  font-size: 14px;
}

header a {
  color: #3D4B53;
  font-family: "Inter";
}

header .line {
  margin-left: 24px;
}

header .col-5 span {
  margin-left: 16px;
  color: #3D4B53;
  font-size: 14px;
}

header .col-5 a {
  margin-left: 0;
  font-size: 14px;
}

header .bottom {
  height: 96px;
}

header .bottom img {
  width: 204px;
  height: 60px;
}

header .bottom ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

header .bottom ul li {
  list-style-type: none;
  margin-left: 40px;
}

header .bottom a {
  font-size: 14px;
  color: #3D4B53;
  font-weight: 600;
  transition: color .2s ease;
}

header .bottom a:hover {
  color: #55BA60;
  transition: color .2s ease;
  text-decoration: none;
}

@media (max-width: 1450px) {
  header .bottom img {
    width: 100%;
    height: auto;
  }
  header .bottom ul {
    padding-left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  header .bottom ul li {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  header .top a {
    font-size: 12px;
  }
  header .bottom a {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  header .bottom ul {
    width: 100%;
  }
}

@media (max-width: 993px) {
  header .top {
    display: none !important;
  }
  header .top .col-6:last-child a:first-child, header .top .col-6:last-child a:nth-child(2), header .top .col-6:last-child a:nth-child(3) {
    display: none;
  }
  header .top span, header .top a {
    font-size: 14px;
    color: #8A8D8F;
  }
  header .top a:first-child {
    margin-left: 0;
  }
  header .bottom ul {
    display: none;
  }
  header .bottom .col-6:first-child img {
    width: auto;
  }
  header .bottom .col-6:last-child img {
    width: 24px;
    height: 24px;
    display: block;
  }
}

button {
  border: none;
  outline: none !important;
  color: #FFFFFF;
  font-family: "Inter";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px !important;
}

.btn-back {
  border: 1px solid #3D4B53;
  border-radius: 4px;
  width: 123px;
  height: 40px;
  background: none;
  color: #3D4B53;
}

.btn-reg {
  background: #6ACEEC;
  width: 140px;
  height: 40px;
  font-size: 14px;
}

.btn-next {
  background: #55BA60;
  border-radius: 4px;
  width: 118px;
  height: 40px;
  margin-top: 24px;
  float: right;
}

.btn-sex {
  width: 100px;
  height: 40px;
  border-radius: 5000px !important;
  color: #1A1A1A;
}

@media screen and (max-width: 576px) {
  .btn-sex {
    width: 100%;
    margin-bottom: 8px;
  }
}

.btn-sex:last-child {
  margin-left: 8px;
}

@media screen and (max-width: 576px) {
  .btn-sex:last-child {
    margin-left: 0;
  }
}

.btn-sex-active {
  background: #6ACEEC;
  color: #fff;
}

.btn-video {
  background-color: none;
  transition: background-color .2s ease;
  display: block;
  font-family: "Inter";
  color: #3D4B53;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 16px;
  width: 48%;
}

.btn-video img {
  margin-right: 11px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1440px) {
  .btn-video img {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  .btn-video img {
    width: 24px;
    height: 24px;
  }
}

.btn-video:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color .2s ease;
  text-decoration: none;
  color: #3D4B53;
}

@media screen and (max-width: 992px) {
  .btn-video {
    border: 1px solid #3D4B53;
    border-radius: 4px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 48px;
  }
}

.btn-request {
  background: #55BA60;
  width: 191px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
}

.btn-version {
  background: #2C5DE5;
  width: 100%;
  height: 40px;
}

.btn-ask {
  width: 136px;
  height: 48px;
  background: #55BA60;
  border-radius: 5000px !important;
}

.swiper-element {
  width: 85%;
  height: 100%;
  display: flex;
  padding-left: 133px;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.swiper-element .text {
  width: 476px;
  font-size: "Inter";
}

.swiper-element .text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #3D4B53;
}

.swiper-element .text p {
  font-size: 14px;
  font-weight: bold;
  color: #3D4B53;
}

.swiper-element img {
  height: 100%;
}

.swiper-container-gallery-1 {
  width: 920px;
  height: 526px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.swiper-container-gallery-2 {
  width: 920px;
  height: 122px;
  overflow: hidden;
  margin: auto;
  margin-top: 12px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.swiper-wrapper .content {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-thumbs .content {
  height: 122px;
}

.swiper-button {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 433px;
  outline: none !important;
}

.swiper-button-prev-gallery {
  background-image: url("../img/prev.svg");
  left: 56px;
}

.swiper-button-next-gallery {
  background-image: url("../img/next.svg");
  right: 56px;
}

@media (max-width: 1440px) {
  .swiper-element {
    justify-content: start;
  }
  .swiper-element img {
    margin-left: 90px;
  }
}

@media (max-width: 1200px) {
  .swiper-element {
    width: 80%;
  }
  .swiper-element .text {
    width: 445px;
  }
  .swiper-element .text h2 {
    line-height: 40px;
  }
  .swiper-element img {
    margin-left: 0;
  }
  .swiper-container-gallery-1 {
    width: 800px;
    height: 526px;
    overflow: hidden;
    margin: auto;
  }
  .swiper-container-gallery-2 {
    width: 800px;
    height: 122px;
    overflow: hidden;
    margin: auto;
    margin-top: 12px;
  }
}

@media (max-width: 992px) {
  .swiper-element {
    padding-left: 0;
    width: 100%;
    padding: 15px;
  }
  .swiper-element img {
    display: none;
  }
  .swiper-element .text h2 {
    font-size: 24px;
  }
  .swiper-element .text p {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 14px;
  }
  .swiper-button {
    z-index: 10;
    top: 275px;
    height: 32px;
    width: 32px;
    background-size: contain;
  }
  .swiper-button-prev-gallery {
    left: 23px;
  }
  .swiper-button-next-gallery {
    right: 23px;
  }
  .swiper-container-gallery-1 {
    width: 330px;
    height: 232px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 0;
  }
  .swiper-container-gallery-2 {
    width: 330px;
    height: 52px;
    overflow: hidden;
    margin: auto;
    margin-top: 12px;
  }
  .swiper-container_1 {
    height: 244px;
    margin-top: 32px;
  }
  .swiper-container_2 {
    height: 647px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 156px;
  left: 36px;
  height: 327px;
  justify-content: space-around;
}

@media (max-width: 992px) {
  .subscribe {
    display: none;
  }
}

.jaw-active {
  right: 0 !important;
  transition: right .3s ease;
}

.jaw {
  display: flex;
  align-items: center;
  position: fixed;
  top: 265px;
  z-index: 3;
  right: -288px;
  transition: right .3s ease;
}

.jaw .eye, .jaw .base {
  background: #FFFFFF;
  box-shadow: 2px 0px 20px rgba(125, 125, 125, 0.2);
  border-radius: 16px 0px 0px 16px;
}

.jaw .eye {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.jaw .base {
  width: 288px;
  height: 324px;
  padding: 0 22px;
}

.jaw .base span {
  margin-top: 24px;
  margin-bottom: 14px;
  display: block;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.jaw .base .colors, .jaw .base .size {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.jaw .base .colors .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.jaw .base .colors .grey {
  background: #3D4B53;
}

.jaw .base .colors .black {
  background: #1A1A1A;
}

.jaw .base .colors .green {
  background: #55BA60;
}

.jaw .base .colors .blue {
  background: #2C5DE5;
}

.jaw .base .size {
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .jaw {
    display: none;
  }
}

.founder-grey {
  background-color: #F6F7FC;
}

.founder-pink {
  background-color: #FEF8F8;
}

.founder {
  width: 540px;
  height: 393px;
  border-radius: 16px;
  margin-top: 30px;
  padding: 32px;
}

.founder .quote {
  margin-bottom: 16px;
}

.founder p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3D4B53;
  margin-bottom: 48px;
}

.founder .info {
  position: relative;
}

.founder .info .name, .founder .info .role {
  position: absolute;
  left: 99px;
}

.founder .info .name {
  top: 12.5px;
  color: #272B2D;
  font-weight: 600;
  font-size: 16px;
}

.founder .info .role {
  top: 44.5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #3D4B53;
  letter-spacing: 0.4px;
  width: 377px;
}

@media (max-width: 1200px) {
  .founder {
    width: 100%;
    height: 460px;
  }
  .founder .info .role {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .founder {
    width: 300px;
    height: 647px;
  }
  .founder .info .role {
    width: 65%;
  }
}

.section-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title_news {
  margin-top: -30px !important;
}

.section-title h2 {
  font-weight: bold;
  font-size: 32px;
  color: #272B2D;
  margin-top: -45px;
}

.section-title img {
  margin-top: 30px;
}

.gallery-content .buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 493px;
  margin-bottom: 24px;
}

.gallery-content .buttons .active {
  color: #55BA60;
  border-bottom: 1px solid #55BA60;
  transition: color .3s ease;
}

.gallery-content .buttons span {
  display: block;
  color: #3D4B53;
  transition: color .3s ease;
}

.gallery-wrapper .blue {
  width: 100%;
  height: 100%;
  background-color: rgba(106, 206, 236, 0.6);
  padding: 12px;
  transition: opacity .4s ease;
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .gallery-wrapper .blue {
    transition: opacity .1s ease;
  }
}

.gallery-wrapper .blue .border {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-wrapper:hover .blue {
  opacity: 1;
}

.gallery-big {
  width: 540px;
  height: 444px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.gallery-big-1 {
  background-image: url("../img/gallery-1.png");
}

.gallery-small {
  width: 255px;
  height: 207px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.gallery-small_1 {
  background-image: url("../img/gallery-2.png");
}

.gallery-small_2 {
  background-image: url("../img/gallery-3.png");
}

.gallery-small_3 {
  background-image: url("../img/gallery-4.png");
}

.gallery-small_4 {
  background-image: url("../img/gallery-5.png");
}

@media (max-width: 1200px) {
  .gallery-content .gallery-big {
    width: 95%;
  }
  .gallery-content .gallery-small {
    width: 227px;
    height: 210px;
  }
}

@media (max-width: 992px) {
  .gallery-content .buttons {
    width: 295px;
    font-size: 14px;
    margin-top: 24px;
  }
  .gallery-content .gallery-big {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
  }
  .gallery-content .gallery-small {
    width: 150px;
    height: 140px;
    margin-top: 24px;
  }
}

@media (max-width: 345px) {
  .gallery-content .gallery-big {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
  }
  .gallery-content .gallery-small {
    width: 130px;
    height: 100px;
    margin-top: 24px;
  }
}

.news-mini {
  position: relative;
  border-bottom: 1px solid #C7C7C7;
  height: 168px;
  margin-top: 32px;
  cursor: pointer;
}

.news-mini:first-child {
  margin-top: 0;
}

.news-mini:last-child {
  border-bottom: none;
}

.news-mini:nth-child(3) {
  border-bottom: none;
}

.news-mini p, .news-mini span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #3D4B53;
  position: absolute;
  left: 190px;
  transition: color .3s ease;
}

.news-mini span {
  top: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.news-mini p {
  top: 48px;
}

.news-mini img {
  border-radius: 4px;
}

.news-mini:hover .news-mini p {
  color: linear-gradient(149.15deg, #55BA60 0%, #6ACEEC 98.07%);
  transition: color .3s ease;
}

.news-mini_active {
  transition: color .3s ease !important;
  color: #55BA60 !important;
}

.news-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #3D4B53;
  float: right;
}

@media (min-width: 993px) {
  .news-mini img {
    width: 160px;
    height: 144px;
    object-fit: cover;
  }
}

@media (max-width: 992px) {
  .news-mini {
    height: 165px;
    border-bottom: none;
    border-top: 1px solid #C7C7C7;
    padding-top: 24px;
  }
  .news-mini p, .news-mini span {
    left: 94px;
  }
  .news-mini img {
    width: 78px;
    height: 70px;
    object-fit: cover;
  }
  .news-mini .date-time {
    margin-bottom: 16px !important;
    display: block;
    top: 17px;
  }
  .news-mini:last-child {
    border-bottom: none;
  }
  .news-link {
    display: none;
  }
}

.form form {
  width: 471px;
  height: 559px;
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  padding: 30px;
}

.form form select, .form form input, .form form .long {
  border: 1px solid #C7C7C7;
  background: #F1F1F1;
  border-radius: 4px;
  outline: none;
  border: none;
}

.form form select, .form form .long {
  width: 411px;
}

.form form select {
  margin-top: 26px;
  height: 48px;
  padding-left: 8px;
  padding-right: 16px;
  color: #3d4b53bf;
}

.form form .short {
  height: 48px;
}

.form form .long {
  height: 120px;
  margin-top: 26px;
}

.form form input {
  margin-top: 26px;
  padding-left: 16px;
  width: 411px;
  color: #3D4B53;
}

.form form button {
  float: right;
  margin-top: 16px;
}

@media (max-width: 992px) {
  .form form {
    margin: auto;
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .form form .wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 24px;
    height: 412px;
    margin-top: 45px;
  }
  .form form select, .form form .long, .form form input {
    width: 100%;
  }
}

.burger {
  width: 100%;
  position: absolute;
  top: 0;
  height: 907px;
  background: #F1F6FA;
}

.burger .top {
  padding: 24px 15px;
}

.burger .enter {
  width: 64px;
}

.burger .line {
  height: 1px;
  background-color: #B9D4E4;
  width: 273px;
}

.burger .base {
  width: 100%;
  padding: 0 24px;
  margin: auto;
}

.burger ul {
  padding-left: 0;
}

.burger ul li {
  margin-bottom: 24px;
  list-style-type: none;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.burger ul li:first-child {
  margin-top: 24px;
}

.burger ul li a {
  color: #3D4B53;
  width: 100%;
  display: block;
}

.burger .links {
  width: 312px;
  margin: auto;
  border-bottom: 1px solid #9EB8CD;
  height: 96px;
}

.burger .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DDE2E6;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.burger .copyrights {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #3D4B53;
}

.search-input {
  height: 48px;
  width: 100%;
  padding-left: 12px;
  background: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #9EB8CD;
  border-bottom: 1px solid #9EB8CD;
  outline: none !important;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #9EB8CD;
}

.burger-active {
  opacity: 1;
  transition: opacity .2s ease;
}

.burger-z {
  z-index: 10;
}

.burger-passive {
  opacity: 0;
  transition: opacity .2s ease;
}

.burger-z-none {
  z-index: -1;
}

.gallery-modal .window {
  width: 100%;
  max-height: 900px;
  background-color: none;
  padding: 122px 0;
  position: relative;
}

.gallery-modal .gallery-modal-close {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 5%;
}

@media (max-width: 992px) {
  .gallery-modal .window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .gallery-modal .gallery-modal-close {
    top: 20px;
    right: 20px;
  }
  .gallery-modal .gallery-modal-close img {
    width: 32px;
    height: 32px;
  }
}

.widget_about {
  transition: opacity .3s ease;
  background: #fff;
  padding: 40px 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 146px;
}

.widget_about h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #3D4B53;
}

.widget_about ul {
  padding-left: 0;
}

.widget_about ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.widget_about ul li img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  display: none;
}

.widget_about ul li a {
  color: #3D4B53;
}

.widget_about ul li a:hover {
  text-decoration: none;
}

.widget_about_off {
  opacity: 0;
  z-index: 0;
}

.widget_about_on {
  opacity: 1;
  z-index: 10;
}

.widget_about_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 426px;
  background-color: rgba(0, 0, 0, 0.4);
}

.widget_about_bg_off {
  opacity: 0;
  z-index: 0;
}

.widget_about_bg_on {
  opacity: 1;
  z-index: 10;
}

.widget-search-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .3 ease;
  overflow: hidden;
}

.widget-search-wrapper-on {
  z-index: 12;
  opacity: 1;
}

.widget-search-wrapper-off {
  z-index: -1;
  opacity: 0;
}

.widget_search {
  width: 420px;
  height: 100vh;
  transition: right .3s ease;
  position: absolute;
  top: 0;
  background-color: #fff;
  padding: 32px 32px;
}

.widget_search img {
  position: absolute;
  top: 24px;
  right: 450px;
  cursor: pointer;
}

.widget_search_off {
  right: -420px;
}

.widget_search_on {
  right: 0;
}

.widget-form-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity .3s ease;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .widget-form-wrapper {
    align-items: start;
  }
}

.widget-form-wrapper form {
  width: 444px;
  height: 675px;
  padding: 24px;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 576px) {
  .widget-form-wrapper form {
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }
}

.widget-form-wrapper form img {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.widget-form-wrapper form h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #3D4B53;
}

.widget-form-wrapper form .steps {
  width: 100%;
  margin: auto;
}

.widget-form-wrapper form .steps .green {
  background: #55BA60;
  color: white;
}

.widget-form-wrapper form .steps .green::before {
  background: #55BA60;
}

@media screen and (max-width: 576px) {
  .widget-form-wrapper form .steps .green::before {
    display: none;
  }
}

.widget-form-wrapper form .steps div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #F1F6FA;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.widget-form-wrapper form .steps div::before {
  position: absolute;
  display: block;
  width: 17px;
  height: 2px;
  top: 11px;
  left: -17px;
  content: '';
  background: #F1F6FA;
}

@media screen and (max-width: 576px) {
  .widget-form-wrapper form .steps div::before {
    display: none;
  }
}

.widget-form-wrapper form .steps div:first-child::before {
  display: none;
}

.widget-form-wrapper form input {
  width: 100%;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  padding: 10px 16px;
  outline: none !important;
}

.widget-form-wrapper form h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 16px;
  color: #3D4B53;
}

.widget-form-wrapper form span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #3D4B53;
}

.widget-form-wrapper form p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #3D4B53;
  margin-top: 24px;
}

.widget-form-wrapper form .button-wrapper {
  width: 100%;
  padding-top: 24px;
}

.way {
  margin-top: 44px;
  margin-bottom: 51px;
}

.way a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1A1A1A;
}

.widget-on {
  z-index: 5;
  opacity: 1;
}

.widget-off {
  z-index: -1;
  opacity: 0;
}

@media (max-width: 992px) {
  .widget_about {
    display: none;
  }
  .widget_search {
    display: none;
  }
}

.map {
  margin-top: 40px;
  background-image: url("../img/map.png");
  border-radius: 20px;
  padding: 56px;
}

.map form {
  width: 357px;
  height: 450px;
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  padding: 24px;
}

.map form h2 {
  margin-top: auto;
}

.map form select, .map form input, .map form .long {
  border: 1px solid #C7C7C7;
  background: #F1F1F1;
  border-radius: 4px;
  outline: none;
  border: none;
}

.map form select, .map form .long {
  width: 100%;
}

.map form select {
  margin-top: 26px;
  height: 48px;
  padding-left: 8px;
  padding-right: 16px;
  color: #3d4b53bf;
}

.map form .short {
  height: 48px;
}

.map form .long {
  height: 120px;
  margin-top: 26px;
}

.map form input {
  margin-top: 26px;
  padding-left: 16px;
  width: 100%;
  color: #3D4B53;
}

.map form button {
  float: right;
  margin-top: 16px;
}

@media (max-width: 992px) {
  .map {
    padding: 0;
    background: none;
  }
  .map form {
    width: 100%;
  }
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(185, 212, 228, 0.2) -3.57%, rgba(185, 212, 228, 0.2) 103.93%);
  height: 640px;
}

.hero .buttons {
  width: 85%;
}

.hero .circle {
  width: 1075px;
  height: 1075px;
  border-radius: 50%;
  position: absolute;
  right: -220px;
  top: -220px;
  background: rgba(0, 0, 0, 0.02);
}

@media (max-width: 1440px) {
  .hero .circle {
    width: 965px;
    height: 965px;
    right: -300px;
    top: -180px;
  }
}

@media (max-width: 1200px) {
  .hero .buttons {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .hero {
    height: 472px;
  }
  .hero .circle {
    width: 480px;
    height: 480px;
    right: -180px;
    top: -180px;
  }
  .hero .buttons {
    width: 191px;
  }
  .hero .buttons .btn-video {
    margin-top: 16px;
  }
}

.about {
  margin-top: 136px;
}

.about .subwrite {
  position: absolute;
}

.about .main-pic {
  width: 100%;
}

.about h2:first-child {
  margin-top: 35px;
}

.about .first-title {
  margin-top: 35px;
}

.about .second-title {
  margin-top: 15px;
}

.about h2 {
  width: 525px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #272B2D;
  margin-bottom: 0;
}

.about .paragraph_1 {
  width: 634px;
}

.about .lines {
  margin-top: 16px;
  margin-bottom: 16px;
}

.about .boy {
  width: 80%;
}

.about .content {
  width: 342px;
  height: 244px;
  background: linear-gradient(90deg, rgba(185, 212, 228, 0.2) -3.57%, rgba(185, 212, 228, 0.2) 103.93%);
  opacity: 0.8;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .about .content {
    width: 295px;
  }
}

.about .mt {
  margin-top: 69px;
}

.about .pl {
  padding-left: 96px;
}

@media (max-width: 1200px) {
  .about p {
    width: 100%;
  }
  .about .paragraph_1 {
    width: 100%;
  }
  .about .subwrite {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .about {
    margin-top: 29px;
    overflow: hidden;
  }
  .about .subwrite {
    width: 100%;
  }
  .about h2 {
    width: 329px;
    font-size: 24px;
    line-height: 36px;
  }
  .about .col-12:first-child {
    margin-top: 32px;
  }
  .about .pl {
    padding-left: 15px !important;
  }
  .about .main-pic-mirror {
    transform: scale(-1, 1);
  }
  .about .mt {
    margin-top: 32px;
  }
}

.founders {
  margin-top: 69px;
}

.founders .container {
  position: relative;
}

.founders .pad {
  padding-top: 165px;
}

.founders .decor1, .founders .decor2 {
  position: absolute;
  z-index: 3;
}

.founders .decor1 {
  top: -45px;
  right: -35px;
}

.founders .decor2 {
  width: 100%;
  bottom: -70px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .founders {
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .founders {
    margin-top: 32px;
  }
  .founders .decor1, .founders .decor2 {
    display: none;
  }
}

.gallery {
  margin-top: 75px;
}

.gallery img {
  border-radius: 4px;
}

.gallery p {
  width: 730px;
  margin: auto;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 40px;
  color: #3D4B53;
}

@media (max-width: 992px) {
  .gallery p {
    display: none;
  }
}

.news {
  margin-top: 100px;
}

.news span {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #3D4B53;
}

.news .date-time {
  margin-top: 16px;
  margin-bottom: 16px;
}

.news .mt {
  margin-top: 48px;
}

@media (max-width: 1200px) {
  .news .news-big {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .news {
    margin-top: 32px;
  }
  .news .mt-mob {
    margin-top: 24px;
  }
}

.form {
  width: 100%;
  height: 650px;
  background-image: url("../img/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

@media (max-width: 992px) {
  .form {
    background: none;
    margin-top: 32px;
    padding-bottom: 20px;
    height: 645px;
    overflow: hidden;
  }
}

footer {
  margin-top: 50px;
}

footer p {
  width: 539px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
}

footer .bottom {
  margin-top: 56px;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #C7C7C7;
}

footer .bottom p {
  width: 100%;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #3D4B53;
}

footer .social {
  width: 340px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

footer .social-link {
  width: 56px;
  height: 56px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(185, 212, 228, 0.2) -3.57%, rgba(185, 212, 228, 0.2) 103.93%);
  border-radius: 50%;
  transition: background .3s ease;
}

footer .icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

footer .social-link_inst:hover {
  background-color: #F93174;
  transition: background-color .3s ease;
}

footer .social-link_inst:hover .insta {
  background-image: url("../img/instagram-2.svg");
}

footer .social-link_twitter:hover {
  background-color: #1DA1F2;
  transition: background-color .3s ease;
}

footer .social-link_twitter:hover .twitter {
  background-image: url("../img/twitter-2.svg");
}

footer .social-link_facebook:hover {
  background-color: #0078D7;
  transition: background-color .3s ease;
}

footer .social-link_facebook:hover .facebook {
  background-image: url("../img/facebook-2.svg");
}

footer .social-link_youtube:hover {
  background-color: #FF0000;
  transition: background-color .3s ease;
}

footer .social-link_youtube:hover .youtube {
  background-image: url("../img/youtube-2.svg");
}

footer .social-link_vk:hover {
  background-color: #45668E;
  transition: background-color .3s ease;
}

footer .social-link_vk:hover .vk {
  background-image: url("../img/vk-2.svg");
}

footer .insta, footer .twitter, footer .facebook, footer .youtube, footer .vk {
  transition: background-image .3s ease;
}

footer .insta {
  background-image: url("../img/insta.svg");
}

footer .twitter {
  background-image: url("../img/twitter.svg");
}

footer .facebook {
  background-image: url("../img/facebook.svg");
}

footer .youtube {
  background-image: url("../img/youtube.svg");
}

footer .vk {
  background-image: url("../img/logo_vk_24.svg");
}

@media (max-width: 992px) {
  footer p {
    width: 300px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
  }
}

@media (max-width: 340px) {
  footer .social {
    width: 300px;
  }
}

.gallery-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.gallery-modal-off {
  display: none !important;
}

.gallery-modal-on {
  display: flex !important;
}

.news-old {
  margin-top: 85px;
}

.news-old span, .news-old p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #3D4B53;
}

.news-old span {
  display: block;
  margin: 16px 0;
}

@media (max-width: 1200px) {
  .news-old img {
    width: 100%;
  }
}

.news-1 {
  padding-top: 32px;
}

.news-1 span {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.news-1 h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #3D4B53;
}

.news-1 p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #3D4B53;
}

.news-1 button {
  margin-bottom: 32px;
}

.news-1 h2 {
  color: #000000;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.news-1 .news-mini {
  border-bottom: 1px solid #C7C7C7 !important;
}

.news-1 .news-mini:last-child {
  border-bottom: none !important;
}

@media (max-width: 1200px) {
  .news-1 .col-lg-6:first-child img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .news-1 .news-mini {
    border-bottom: none !important;
  }
}

.history h2 {
  margin-top: -15px;
}

.history p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3D4B53;
}

.history .mb-mob {
  margin-bottom: 32px;
}

@media (max-width: 440px) {
  .history {
    overflow: hidden;
  }
}

.documents {
  overflow: hidden;
}

.documents h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #272B2D;
  margin-top: -35px;
}

.documents p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3D4B53;
  margin-top: 24px;
}

.documents p a {
  color: #55BA60;
  font-weight: bold;
}

.documents .col-12:last-child {
  margin-top: 64px;
  background: #F9F9F9;
  border-radius: 4px;
  padding: 32px;
}

.documents .col-12:last-child .document {
  border-bottom: 1px solid #D1DADB;
}

.documents .col-12:last-child p {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .documents .col-12:last-child p {
    margin-right: 32px;
  }
}

.documents .col-12:last-child a {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #55BA60;
}

.documents .col-12:last-child a span {
  margin-right: 8px;
}

@media screen and (max-width: 992px) {
  .documents .col-12:last-child a span {
    display: none;
  }
}

.documents .col-12:last-child .height {
  height: 74px;
}

@media screen and (max-width: 992px) {
  .documents .col-12:last-child .height {
    height: 164px;
  }
}

.contacts h2 {
  margin-top: -30px;
}

.contacts .contact-cell {
  border-bottom: 1px solid #DFE5F2;
  padding-top: 40px;
}

.contacts .contact-cell:nth-child(4) {
  border-bottom: none;
}

.contacts .contact-cell:last-child {
  border-bottom: none;
}

.contacts .info {
  width: 100%;
  position: relative;
  margin-bottom: 34px;
}

.contacts .info p, .contacts .info span {
  position: absolute;
  left: 62px;
}

.contacts .info p {
  top: 0;
}

.contacts .info span {
  top: 24px;
}

.contacts p, .contacts a {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3D4B53;
}

.contacts .cell {
  margin-bottom: 24px;
  padding-left: 62px;
}

.contacts .cell a, .contacts .cell span {
  display: block;
}

@media (max-width: 992px) {
  .contacts .cell {
    padding-left: 20px;
  }
  .contacts .info {
    height: 54px;
  }
  .contacts .info p, .contacts .info span {
    left: 20px;
  }
  .contacts .info img {
    display: none;
  }
}

@media (min-width: 1450px) {
  .container-fluid {
    max-width: 1440px !important;
    width: 1440px !important;
  }
}

.container-fluid {
  position: relative;
}

.basic-fz {
  font-size: 14px;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.display_none {
  display: none !important;
}

body {
  overflow-x: hidden;
}

#add {
  overflow: hidden;
}
/*# sourceMappingURL=index.css.map */