@import mixins
  
@media (min-width: 1450px)
  // .container
  //   max-width: 1440px !important
  .container-fluid
    max-width: 1440px !important
    width: 1440px !important

// @media (min-width: 1201px)
//   .container
//     max-width: 100% !important

.container-fluid
  position: relative


.basic-fz
  font-size: 14px

.justify-between
  @include justify-between