$input-width: 411px;
$input-height: 48px;

.form{
  form{
    width: 471px;
    height: 559px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.35);
    border-radius: 16px;

    padding: 30px;

    select, input, .long{
      border: 1px solid #C7C7C7;
      background: #F1F1F1;
      border-radius: 4px;
      outline: none;
      border: none;
    }

    select, .long{
      width: $input-width;
    }

    select{

      margin-top: 26px;
      height: $input-height;
      padding-left: 8px;
      padding-right: 16px;
      color: #3d4b53bf !important;
    }

    .short{
      height: $input-height;
    }

    .long{
      height: 120px;
      margin-top: 26px;
    }

    input{
      margin-top: 26px;
      padding-left: 16px;
      width: $input-width;
      color: #3D4B53 !important;
    }

    button{
      float: right;
      margin-top: 16px;
    }
  }
}

@media (max-width: 992px){
  $input-width: 100%;
  .form{
    form{
      margin: auto;
      border: none;
      box-shadow: none;
      padding: 0;

      .wrapper{
        background: #FFFFFF;
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding: 24px;
        height: 412px;
        margin-top: 45px;
      }

      select, .long, input{
        width: $input-width;
      }
    }
  }
}