.gallery-content{
  .buttons{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 493px;

    margin-bottom: 24px;

    .active{
      color: #55BA60;
      border-bottom: 1px solid #55BA60;

      transition: color .3s ease;
    }

    span{
      display: block;
      color: #3D4B53;
      transition: color .3s ease;
    }
  }
}

.gallery-wrapper{
  .blue{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #6ACEEC, $alpha: .6);
    padding: 12px;
    transition: opacity .4s ease;
    opacity: 0;

    @media screen and (max-width: 992px){
      transition: opacity .1s ease;
    }

    .border{
      height: 100%;
      width: 100%;
      border-radius: 4px;

      display: flex;
      justify-content: center;
      align-items: center;

    }
  }

  &:hover{
    .blue{
      opacity: 1;
    }
  }
}

.gallery-big{
  width: 540px;
  height: 444px;
  border-radius: 4px;

  cursor: pointer;
  position: relative;
}

.gallery-big-1{
  background-image: url('../img/gallery-1.png');
}

.gallery-small{
  width: 255px;
  height: 207px;
  border-radius: 4px;

  cursor: pointer;
  position: relative;

  &_1{
    background-image: url('../img/gallery-2.png');
  }
  &_2{
    background-image: url('../img/gallery-3.png');
  }
  &_3{
    background-image: url('../img/gallery-4.png');
  }
  &_4{
    background-image: url('../img/gallery-5.png');
  }
}

@media (max-width: 1200px){

  .gallery-content{

    .gallery-big{
      width: 95%;
    }

    .gallery-small{
      width: 227px;
      height: 210px;
    }
  }
}

@media (max-width: 992px){
  .gallery-content{

    .buttons{
      width: 295px;
      font-size: 14px;
      margin-top: 24px;
    }

    .gallery-big{
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 230px;

    }

    .gallery-small{
      width: 150px;
      height: 140px;
      margin-top: 24px;
    }
  }
}


@media (max-width: 345px){
  .gallery-content{

    // .buttons{
    //   display: none;
    // }

    .gallery-big{
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 230px;

    }

    .gallery-small{
      width: 130px;
      height: 100px;
      margin-top: 24px;
    }
  }
}