.map{
  margin-top: 40px;
  $input-width: 100%;
  background-image: url('../img/map.png');
  border-radius: 20px;
  padding: 56px;
  form{
    width: 357px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.35);
    border-radius: 16px;

    padding: 24px;
    h2{
      margin-top: auto;
    }

    select, input, .long{
      border: 1px solid #C7C7C7;
      background: #F1F1F1;
      border-radius: 4px;
      outline: none;
      border: none;
    }

    select, .long{
      width: $input-width;
    }

    select{

      margin-top: 26px;
      height: $input-height;
      padding-left: 8px;
      padding-right: 16px;
      color: #3d4b53bf;
    }

    .short{
      height: $input-height;
    }

    .long{
      height: 120px;
      margin-top: 26px;
    }

    input{
      margin-top: 26px;
      padding-left: 16px;
      width: $input-width;
      color: #3D4B53;
    }

    button{
      float: right;
      margin-top: 16px;
    }
  }
}

@media (max-width: 992px){
  .map{
    padding: 0;
    background: none;
    form{
      width: 100%;
    }
  }
}