@import '../_variables.sass';

.swiper-element{
  width: 85%;
  height: 100%;

  display: flex;
  padding-left: 133px;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  .text{
    width: 476px;
    font-size: $basic-font;
    h2{
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      color: #3D4B53;
    }
    p{
      font-size: $basic-font-size;
      font-weight: bold;
      color: #3D4B53;
    }
  }
  img{
    height: 100%;
  }
}

.swiper-container-gallery-1{
  width: 920px;
  height: 526px;
  overflow: hidden;
  margin: auto;
}

.swiper-container-gallery-2{
  width: 920px;
  height: 122px;
  overflow: hidden;
  margin: auto;
  margin-top: 12px;
}

.swiper-wrapper{
  .content{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.gallery-thumbs{
  .content{
    height: 122px;
  }
}

$switcher-side-coords: 56px; 

.swiper-button{
  width: 48px;
  height: 48px;
  position: absolute;
  top: 433px;

  outline: none !important;
}

.swiper-button-prev-gallery{
  background-image: url('../img/prev.svg') ;
  left: $switcher-side-coords;
}

.swiper-button-next-gallery{
  background-image: url('../img/next.svg') ;
  right: $switcher-side-coords;
}

@media (max-width: 1440px){
  .swiper-element{
    justify-content: start;
    img{
      margin-left: 90px;
    }
  }
}

@media (max-width: 1200px){
  .swiper-element{
    width: 80%;
    .text{
      width: 445px;
      h2{
        line-height: 40px;
      }
    }
    img{
      margin-left: 0;
    }
  }

  .swiper-container-gallery-1{
    width: 800px;
    height: 526px;
    overflow: hidden;
    margin: auto;
  }
  
  .swiper-container-gallery-2{
    width: 800px;
    height: 122px;
    overflow: hidden;
    margin: auto;
    margin-top: 12px;
  }
}

@media (max-width: 992px){

  $switcher-side-coords: 23px; 

  .swiper-element{
    padding-left: 0;
    width: 100%;
    padding: 15px;
    img{
      display: none;
    }
    .text{
      h2{
        font-size: 24px;
      }
      p{
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 14px;
      }
    }
  }

  .swiper-button{
    z-index: 10;
    top: 275px;
    height: 32px;
    width: 32px;
    background-size: contain;
  }

  .swiper-button-prev-gallery{
    left: $switcher-side-coords;
  }
  
  .swiper-button-next-gallery{
    right: $switcher-side-coords;
  }

  .swiper-container-gallery-1{
    width: 330px;
    height: 232px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 0;
  }
  
  .swiper-container-gallery-2{
    width: 330px;
    height: 52px;
    overflow: hidden;
    margin: auto;
    margin-top: 12px;
  }
  

  .swiper-container_1 {
    // width: 600px;
    height: 244px;
    margin-top: 32px;
  }

  .swiper-container_2{
    height: 647px;
  }

}