.widget_about{
  transition: opacity .3s ease;
  background: #fff;
  padding: 40px 0;
  width: 100%;

  position: absolute;
  left: 0;
  top: 146px;


  h2{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #3D4B53;
  }

  ul{
    padding-left: 0;
    li{
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      img{
        margin-right: 10px;
        width: 24px;
        height: 24px;
        display: none;
      }

      a{
        color: #3D4B53;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
.widget_about_off{
  opacity: 0;
  z-index: 0;
}

.widget_about_on{
  opacity: 1;
  z-index: 10;
}

.widget_about_bg{
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 426px;
  background-color: rgba($color: #000000, $alpha: .4);
}

.widget_about_bg_off{
  opacity: 0;
  z-index: 0;
}

.widget_about_bg_on{
  opacity: 1;
  z-index: 10;
}

$widget-search-width: 420px;

.widget-search-wrapper{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba($color: #000000, $alpha: .6);
  transition: opacity .3 ease;
  // z-index: 12;
}

.widget-search-wrapper-on{
  z-index: 12;
  opacity: 1;
}


.widget-search-wrapper-off{
  z-index: -1;
  opacity: 0;
}

.widget_search{
  width: $widget-search-width;
  height: 100vh;
  transition: right .3s ease;

  position: absolute;
  top: 0;
  background-color: #fff;
  padding: 32px 32px;

  img{
    position: absolute;
    top: 24px;
    right: 450px;
    cursor: pointer;
  }
}

.widget_search_off{
  right: -$widget-search-width;
}

.widget_search_on{
  right: 0;
}

@media (max-width: 992px){
  .widget_about{
    display: none;
  }

  .widget_search{
    display: none;
  }
}