.form{
  width: 100%;
  height: 650px;

  background-image: url('../img/form-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 100px;
}

@media (max-width: 992px){
  .form{
    background: none;

    margin-top: 32px;
    padding-bottom: 20px;
    height: 645px;

    overflow: hidden;
  }
}